.App {
  text-align: center;
}

// color pallette
$bright-orange: #ff5e13; // bright orange
$off-gray: #f6f6f6; // light gray color
$background-brand-wording: #bcbac6; // silverish gray
$main-font-color: #030620; // a shade of black
